<div class="container">
	<div class="row"> <!-- Whole page container -->
		<div class="col-md-6 col-md-offset-3 top-buffer-large">
			<div class="row">
				<div class="col-md-12">
					<div class="col-xs-4 col-sm-2 col-sm-offset-3 col-md-3 col-md-offset-2">
						<img ng-if="!user.profilePictureUrl" class="profile-picture" ng-src="assets\images\profile_default.png" alt="Default picture">
						<img ng-if="user.profilePictureUrl" class="profile-picture" ng-src="{{user.profilePictureUrl}}" alt="Profile picture">
					</div>
					<div class="col-xs-6 col-sm-4 col-md-5 top-buffer-small">
						<div class="row">
							<div class="col-md-12">
								<span class="text-size-large text-color-medium">{{user.username}}</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span class="text-size-medium text-color-light">{{user.firstName}} {{user.lastName}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row"> <!-- Profile info container -->
				<div class="col-md-12 left-buffer-small">
					<div class="row">
						<div class="col-md-12 top-buffer-small"> 
							<div class="col-xs-2 col-sm-1 col-sm-offset-3 col-md-2 col-md-offset-2">
								<span class="text-size-medium text-color-light">Email:</span>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<span class="text-size-medium text-color-light">{{user.email}}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div ng-if="user.age" class="col-md-12 top-buffer-tiny">
							<div class="col-xs-2 col-sm-1 col-sm-offset-3 col-md-2 col-md-offset-2">
								<span class="text-size-medium text-color-light">Age:</span>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<span class="text-size-medium text-color-light">{{user.age}}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div ng-if="user.sex" class="col-md-12 top-buffer-tiny">
							<div class="col-xs-2 col-sm-1 col-sm-offset-3 col-md-2 col-md-offset-2">
								<span class="text-size-medium text-color-light">Sex:</span>
							</div>
							<div class="col-xs-8 col-sm-8 col-md-8">
								<span class="text-size-medium text-color-light">{{user.sex}}</span>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="!isOwnProfile" class="row">
					<div class="col-md-12 top-buffer-medium">
						<div ng-if="!isFriend" class="col-sm-4 col-sm-offset-2">
							<button class="button-size-medium-full-width button-colored" type="button" ng-click="addFriend()">Add Friend</button>
						</div>
						<div ng-if="isFriend" class="col-sm-4 col-sm-offset-2">
							<button class="button-size-medium-full-width button-colored" type="button" data-toggle="modal" data-target="#confirmationModal">Remove</button>
							<div id="confirmationModal" class="modal fade">
										    <div class="modal-dialog">
										        <div class="modal-content">
										            <div class="modal-header">
										                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										                <h4 class="modal-title">Are you sure you want to remove <span class="text-color-dark">{{user.username}}</span> from your friends?</h4>
										            </div>
										            <div class="modal-footer">
										            	<div class="container-fluid">
										            		<div class="row">
										            			<div class="col-md-12">
										            				<button class="button-modal button-colored" type="button" ng-click="removeFriend()" data-dismiss="modal">Remove</button>
													                <button class="button-modal button-transparent left-buffer-extra-small" type="button" data-dismiss="modal">Cancel</button>
												                </div>
											                </div>
										                </div>
										            </div>
										        </div>
										    </div>
										</div>
						</div>
						<div class="col-sm-4">
							<button class="button-size-medium-full-width button-transparent" type="button" ng-click="cancel()">Cancel</button>
						</div>
					</div>
				</div>
				<div ng-if="isOwnProfile" class="row">
					<div class="col-md-12 top-buffer-medium">
						<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
							<button class="button-size-medium-full-width button-transparent" type="button" ng-click="editProfile()">Edit Profile</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>