<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1 class="text-welcome">Welcome</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 top-buffer-medium">
			<form name="registerForm" ng-submit="submit()">
				<div class="form-group has-feedback login-form-group">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
					<input class="form-control input-text" type="text" name="username" placeholder="Username" required="required" ng-model="user.username">
				</div>
				<div class="form-group has-feedback login-form-group">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<input class="form-control input-text" type="password" name="password" placeholder="Create a Password" required="required" min-length="6" max-length="20" ng-model="user.password">
				</div>
				<div class="form-group has-feedback login-form-group">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					<input class="form-control input-text" type="email" name="email" placeholder="Email Address" required="required" ng-model="user.email">
				</div>
				<div class="form-group has-feedback login-form-group">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
					<input class="form-control input-text" type="text" name="firstName" placeholder="First Name" required="required" ng-model="user.firstName">
				</div>
				<div class="form-group has-feedback login-form-group">
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
					<input class="form-control input-text" type="text" name="lastName" placeholder="Last Name" required="required" ng-model="user.lastName">
				</div>
				<div class="row">
					<div class="col-sm-6 top-buffer-tiny">
						<button class="button-size-medium-full-width button-colored" type="submit" ng-click="register()">Register</button>
					</div>
					<div class="col-sm-6 top-buffer-tiny">
						<button class="button-size-medium-full-width button-transparent" type="button" ng-click="cancel()">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>