<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="triplanner" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="triplanner" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="triplanner" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="triplanner" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Triplanner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="bower_components/angular-toastr/dist/angular-toastr.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
  </head>
  <body ng-controller="MainCtrl" ng-cloak>
    <div ng-if="!isUserAuthenticated" ng-include src="'common/partials/header.html'"></div>
    <div ng-if="isUserAuthenticated" ng-include src="'common/partials/navbar.html'"></div>
    <div ng-view></div>
    
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>-->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-base64/angular-base64.min.js"></script>
    <script src="app.js"></script>
    <script src="common/services/headers.js"></script>
    <script src="common/services/notification.js"></script>
    <script src="common/services/page-options.js"></script>
    <script src="common/services/search-query.js"></script>
    <script src="common/directives/image-input-directive.js"></script>
    <script src="common/directives/tooltip-directive.js"></script>
    <script src="common/directives/date-time-picker-directive.js"></script>
    <script src="common/controllers/main-controller.js"></script>
    <script src="users/services/user-authentication.js"></script>
    <script src="users/services/user-identity.js"></script>
    <script src="users/services/users.js"></script>
    <script src="users/services/user-profile-picture.js"></script>
    <script src="users/login/login-controller.js"></script>
    <script src="users/register/register-controller.js"></script>
    <script src="users/profile/profile-controller.js"></script>
    <script src="users/edit-profile/edit-profile-controller.js"></script>
    <script src="users/friends/friends-controller.js"></script>
    <script src="home/home-controller.js"></script>
    <script src="trips/plan-trip/plan-trip-controller.js"></script>
  </body>
</html>