/*GENERAL STYLES*/
body {
  background-color: #cccccc;
  background-image: url("../images/paper-background.jpg");
}

/*HEADER*/
.header {
  background-color: #85BA40;
  /*height: 65px; -- bigger, maybe better?*/
  height: 51px;
  border-style: solid;
  border-width: 1px;
  border-color: #6c8a3e;
}

/*INPUTS*/
/*TEXT*/
.input-text {
  margin-bottom: 0px;
  border-color: #85BA40;
}

.input-text:focus {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(133, 186, 64, 1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(133, 186, 64, 1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(133, 186, 64, 1);
}
/*SELECT*/
.custom-select {
  border-color: #85BA40;
  cursor:pointer;
}

.custom-select:focus {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(133, 186, 64, 1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(133, 186, 64, 1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(133, 186, 64, 1);
}

/*FORMS*/
.login-form-group {
  margin-bottom: 10px;
}

/*CHECKBOX*/
.remember-me-checkbox {
  width: 15px; 
  height: 15px;
}

.remember-me-label {
  font-size: 1.1em;
  color: #85BA40;
  margin-left: 4px;
  padding-bottom: 100px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*BUTTONS*/
.button-colored {
  color: #e2eccb;
	background-color: #85BA40;
  border-style: solid;
  border-color: #85BA40;
}

.button-colored:hover {
	color: #f8f2fe;
}

.button-transparent {
  color: #85BA40;
  background-color: transparent;
  border-style: solid;
  border-color: #85BA40;
}

.button-transparent:hover {
  color: #f8f2fe;
  background-color: #85BA40;
	transition: all .5s;
}

.button-colored:focus,.button-transparent:focus {
  color: #f8f2fe;
  background-color: #6c8a3e;
  border-color: #6c8a3e;
  transition: all .3s;
}

.button-size-large {
  padding: 1.5% 7% 1.5%;
  font-size: 2.5em;
  letter-spacing:.1em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  width: 100%;
}

.button-size-medium {
  width: 100%;
  font-size: 1.8em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

button:focus {
  outline: 0;
}

@media (max-width: 481px) {
  .button-size-large { 
  	font-size: 2.4em;
  }
}

/*TEXT*/
.text-brand {
  /*font-size: 3em; -- bigger, maybe better?*/
  font-size: 2.5em;
  color: #e2eccb;
  /*margin-top: 8px; -- bigger, maybe better?*/
  margin-top: 6px;
}

.text-welcome {
  color: #85BA40;
  font-size: 3em;
  margin-top: 60px;
}

.text-size-extra-large {
  font-size: 1.9em;
}

.text-size-large {
  font-size: 1.7em;
}

.text-size-medium {
  font-size: 1.2em;
}

.text-color-light {
  color: #85ba40;
}

.text-color-medium {
  color: #81a548;
}

/*IMAGES*/
img.profile-picture {
  max-width: 100%; 
  display:block; 
  height: auto;
}

/*MISC*/
/*TOP BUFFER*/
.top-buffer-extra-large { 
  margin-top: 120px;
}

.top-buffer-large { 
  margin-top: 90px;
}

.top-buffer-medium { 
  margin-top: 35px;
}

.top-buffer-small { 
  margin-top: 15px;
}

.top-buffer-extra-small { 
  margin-top: 3px;
}

/*LEFT BUFFER*/
.left-buffer-extra-large { 
  margin-left: 120px;
}

.left-buffer-large { 
  margin-left: 90px;
}

.left-buffer-medium { 
  margin-left: 35px;
}

.left-buffer-small { 
  margin-left: 15px;
}

.left-buffer-extra-small { 
  margin-left: 3px;
}

.glyphicon-margin {
  margin-right: 8px;
}

/*CUSTOM TOASTR*/
#toast-container .toast:hover {
  -moz-box-shadow: 0 0 6px #000000;
  -webkit-box-shadow: 0 0 6px #000000;
  box-shadow: 0 0 6px #000000;
}

/*CUSTOM NAVBAR*/
.divider.divider-line {
  background-color: #e2eccb;
}

.navbar-default {
  background-color: #85ba40;
  border-color: #6c8a3e;
}
.navbar-default .navbar-brand {
  color: #e2eccb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f8f2fe;
}
.navbar-default .navbar-text {
  color: #e2eccb;
}
.navbar-default .navbar-nav > li > a {
  color: #e2eccb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f8f2fe;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #85ba40;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #e2eccb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f8f2fe;
  background-color: #6c8a3e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #6c8a3e;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f8f2fe;
  background-color: #6c8a3e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f8f2fe;
  background-color: #6c8a3e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f8f2fe;
  background-color: #6c8a3e;
}
.navbar-default .navbar-toggle {
  border-color: #6c8a3e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6c8a3e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e2eccb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e2eccb;
}
.navbar-default .navbar-link {
  color: #e2eccb;
}
.navbar-default .navbar-link:hover {
  color: #f8f2fe;
}

.navbar-text.page-title {
  color: #6c8a3e;
  font-size: 1.6em;
  margin: 10px 8px 8px 8px;
}

.navbar {
  border-radius: 0px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e2eccb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f8f2fe;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f8f2fe;
    background-color: #6c8a3e;
  }
}